<!DOCTYPE html>
<html lang="en">
<%- include('head-file') %>

  <body>

    <%- include('header') %>
      <section id="about-us" class="about-us padd-section wow fadeInUp">
        <div class="container">
          <div class="row justify-content-center">


            <div class="col-md-12">
              <div class="about-content">

                <h4>About Jaskiran</h4>
                <p>Welcome to my corner of the internet! I'm Jaskiran, and I'm thrilled to share a bit about myself with
                  you.</p>

                <h4>Passion for Technology </h4>
                <p>Ever since I was a child, I've been fascinated by the world of technology. From tinkering with my
                  first computer to building websites and coding applications, I've always had a deep-rooted passion for
                  all things tech. This passion led me to pursue a career in web development and design, where I've had
                  the opportunity to create digital experiences that are both functional and visually appealing.
                </p>

                <h4>A Creative Mind</h4>
                <p>I consider myself a creative at heart. I believe that the combination of technology and creativity
                  can lead to truly remarkable results. Whether it's designing a beautiful website, crafting engaging
                  content, or coming up with innovative solutions to problems, I thrive on the creative process.</p>



                <h4>Continuous Learning </h4>
                <p>The tech world is constantly evolving, and I'm committed to staying at the forefront of these
                  changes. I'm a firm believer in the power of lifelong learning, and I'm always eager to explore new
                  programming languages, design trends, and emerging technologies. This mindset allows me to deliver
                  cutting-edge solutions to my clients and create websites that stand out in the digital landscape
                </p>



                <h4>Clean Code </h4>
                <p>The tech world is constantly evolving, and I'm committed to staying at the forefront of these
                  changes. I'm a firm believer in the power of lifelong learning, and I'm always eager to explore new
                  programming languages, design trends, and emerging technologies. This mindset allows me to deliver
                  cutting-edge solutions to my clients and create websites that stand out in the digital landscape
                </p>

              </div>
            </div>

          </div>
        </div>
      </section>
      <%- include('footer') %>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <%- include('footer-script') %>


  </body>

</html>