<!--==========================
    Footer
  ============================-->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-12">
        <div class="footer-logo">

          <p>I'm dedicated to creating a virtual space that empowers individuals, businesses, and communities by
            offering innovative solutions, cutting-edge information, and unparalleled user satisfaction.</p>
          <p>© 2019-2023</p>

        </div>
      </div>


    </div>
  </div>

</footer>