<!DOCTYPE html>
<html lang="en">
<%- include('head-file') %>

  <body>

    <%- include('header') %>
      <!--==========================
    Hero Section
  ============================-->
      <section id="hero" class="wow fadeIn">
        <div class="hero-container">
          <h1>Hi! I'AM JASKIRAN</h1>
          <h2>My aim to inspire, educate, and connect users through innovative content, fostering personal growth and
            positive digital experiences for all.</h2>
          <img src="img/hero-img.png" alt="Hero Imgs">
          <a href="/about" class="btn-get-started scrollto">More About Me...</a>
        </div>
      </section><!-- #hero -->



      <%- include('footer') %>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <%- include('footer-script') %>


  </body>

</html>