<!DOCTYPE html>
<html lang="en">
<%- include('head-file') %>

  <body>

    <%- include('header') %>
      <section id="features" class="padd-section text-center wow fadeInUp"
        style="visibility: visible; animation-name: fadeInUp;">

        <div class="container">
          <div class="section-title text-center">
            <h2>Service I Offered.</h2>
          </div>
        </div>

        <div class="container">
          <div class="row">

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/paint-palette.svg" alt="img" class="img-fluid">
                <h4>Respnsive Design</h4>
              </div>
            </div>


            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/design-tool.svg" alt="img" class="img-fluid">
                <h4>Attractive Graphic</h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
                <h4>Free Updates</h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/cloud-computing.svg" alt="img" class="img-fluid">
                <h4>App store support</h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/pixel.svg" alt="img" class="img-fluid">
                <h4>Perfect Pixel</h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/code.svg" alt="img" class="img-fluid">
                <h4>clean codes</h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="img/svg/code.svg" alt="img" class="img-fluid">
                <h4>Dynamic Website</h4>
              </div>
            </div>

          </div>
        </div>
      </section>
      <%- include('footer') %>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <%- include('footer-script') %>


  </body>

</html>